#splashPanel
{
	background-image:url(../images/splash/splash-panel.png);
	width:1020px;
	height:372px;
	position:absolute;
	top:170px;
}

#splashStartButton
{
	background-image:url(../images/splash/start-button.png);
	position:absolute;
	left:70px;
	top:268px;
	width:143px;
	height:42px;
	overflow:hidden;
	cursor:pointer;
}

.no-touch #splashStartButton:hover,
#splashStartButton:active
{
	background-position:0 -42px;
}

#splashText
{
	position:absolute;
	left:615px;
	top:72px;
	width:320px;
	font-style:italic;
	font-size:10pt;
	color:#626262;
}